body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  box-shadow: none;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
  color: rgb(50, 49, 48);
  min-width: 0;
  text-overflow: ellipsis;
  outline: 0;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
  background: rgb(255, 255, 255);
  cursor: text;
  height: 32px;
}
button {
  outline: transparent;
  border: 1px solid rgb(138, 136, 134);
  cursor: pointer;
  padding: 0 16px;
  border-radius: 2px;
  min-width: 80px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  user-select: none;
}

